<li class="module_palette {{module.type}}" id="{{module.id}}" draggable="true">
    {{!TODO: image}} <h3>{{module.meta.name}}</h3>e
    <p class="description"> {{module.meta.description}}</p>
    <p class="type">type: {{module.type}}</p>
</li>
