<li class="module_palette {{module.type}}" id="{{module.id}}" draggable="true">
    {{#if hasGlyphicon }}
      <i class="glyphicon glyphicon-{{icon}}"></i>
    {{/if}}

    <h3>{{module.meta.name}}</h3>
    <p class="description"> {{module.meta.description}}</p>
    <p class="type">type: {{module.type}}</p>
</li>
