<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2">
            {{! Logo and palette }}
            {{viki-logo}}

            {{viki-palette}}
        </div>
        <div class="col-lg-8">
            {{! Toolbar + Canvas }}
            {{viki-toolbar}}

            {{viki-canvas}}
        </div>
        <div class="col-lg-2">
            {{! Right sidebar }}

            <em>Hier komt nog een mooie right-side bar :)</em>
        </div>
    </div>
</div>

{{outlet}}
